{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="breadcrumbs">
        <ol>
          <li><a href="/">Government Technology Manual</a></li>
          <li><a href="/">Using government Wi-Fi as an employee</a></li>
        </ol>
      </div>

      <h1 class="heading-xlarge">Using government Wi-Fi as an employee</h1>

      <p>There are two new shared Wi-Fi systems in government buildings: user.wifi and device.wifi.</p>

      <h2 class="heading-medium">Using user.wifi</h2>

      <p><span class="bold-small">user.wifi</span> gives you internet access in all participating buildings. <a href="wifi/guest">Find out how to sign up here.</a></p>

      <h2 class="heading-medium">Using device.wifi</h2>

      <p><span class="bold-small">device.wifi</span> gives you access to the internet and also secure networks like <a href="#">PSN (Public Sector Network)</a>. To use it, your device will need to be set up with a certificate by your department's IT team. Once that happens, you'll be able to connect whereever device.wifi is enabled.</p>

      <p>device.wifi is currently in beta in the following buildings:</p>

      <ul class="list list-bullet">
        <li>Aviation House</li>
      </ul>

      <h2 class="heading-medium">Troubleshooting device.wifi</h2>

      <p>If you can't connect to device.wifi, you should contact the support desk who gave it to you.</p>


    </div>
  </div>
</main>

{% endblock %}


