{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="breadcrumbs">
        <ol>
          <li><a href="/">Government Technology Manual</a></li>
          <li><a href="/">Using user.wifi</a></li>
        </ol>
      </div>

      <h1 class="heading-xlarge">Using user.wifi</h1>

      <p><span class="bold-small">user.wifi</span> is the new shared Wi-Fi system for government buildings. It's currently in beta in the following buildings:</p>

      <ul class="list list-bullet">
        <li>Aviation House</li>
        <li>Home Office</li>
        <li>Civil Service Live venues around the country</li>
      </ul>

      <h2 class="heading-medium">How to connect</h2>

      <p>If you're in one of the places listed above, your device should be picking up user.wifi.</p>

      <p>To receive your username and password, text "wifi" to 82228.</p>

      <p>Once you agree to the <a href="#">Terms &amp; Conditions</a> and enter your credentials into your device, you will be connected in most user.wifi enabled buildings.</p>

      <h2 class="heading-medium">Verifying your account</h2>

      <p>Some buildings require you to verify your account for security purposes.</p>
      <p>You can do this by proving that you are in the building at a kiosk. You'll receive instructions on how to do this by text when you enter the building. The verification lasts for 24 hours.</p>
      <p>If you're a public sector employee, you can permanently verify yourself. To do this, send an email to <a href="mailto:enrol@user.wifi.service.gov.uk">enrol@user.wifi.service.gov.uk</a> with the phone number you used to sign up as the subject header.</p>

      <h2 class="heading-medium">Troubleshooting</h2>

      <p>If you're using a <span class="bold-small">government owned device</span>, you should contact the support desk who gave it to you.</p>

      <p>If you're using <span class="bold-small">your own device</span>, you should contact the support desk in the building that you're in.</p>

      <p>If you can't get in touch with either of the above teams, email <a href="mailto:user.wifi-support.service.gov.uk">support@user.wifi.service.gov.uk</a> with your location, device model, and what went wrong.</p>




    </div>
  </div>
</main>

{% endblock %}


