{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="breadcrumbs">
        <ol>
          <li><a href="/">Government Technology Manual</a></li>
          <li><a href="/">Setting up and configuring government Wi-Fi</a></li>
        </ol>
      </div>

      <h1 class="heading-xlarge">Setting up and configuring government Wi-Fi</h1>

      <p>There are two new shared Wi-Fi systems for government buildings. user.wifi and device.wifi.</p>

      <p>user.wifi enables users to connect to the internet in any participating building. Users sign up by text, and can verify themselves as a guest inside the building, or a government employee. <a href="wifi/guest">Find out more about the user journey here.</a></p>


    </div>
  </div>
</main>

{% endblock %}


