{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    	<h1 class="heading-xlarge">Government Technology Manual</h1>

    	<p><span class="bold-small">This service is for government employees and guests</span> to learn about using government technology, and for government employees to learn about setting up common technology solutions. It's been created by <a href="https://www.gov.uk/government/groups/common-technology-services-cts">Common Technology Services</a>.</p>

      <h2 class="heading-medium">User guides for government technology</h2>

      <ul class="list list-bullet">
        <li><a href="internet">Accessing the Internet</a></li>
        <li><a href="email">Using email</a></li>
        <li><a href="printing">Printing</a></li>
      </ul>


      <h2 class="heading-medium">Setup guides for government IT teams</h2>

      <ul class="list list-bullet">
        <li><a href="internet">Cross government Wi-Fi</a></li>
        <li><a href="email">Email</a></li>
        <li><a href="printing">Printing</a></li>
      </ul>
<!-- 

    	<h2 class="heading-medium">Wi-Fi</h2>

    	<ul>
    		<li><a href="wifi/guest">Using Wi-Fi as a guest: user.wifi</a></li>
    		<li><a href="wifi/employee">Using Wi-Fi as a government employee</a></li>
    		<li><a href="wifi/setup">Setting up and configuring government Wi-Fi</a></li>
  		</ul>

    	<h2 class="heading-medium">Email</h2>

    	<ul>
    		<li><a href="#">Using email as a government employee</a></li>
    		<li><a href="#">Procuring and configuring email services</a></li>
  		</ul>

    	<h2 class="heading-medium">Printing</h2>

    	<ul>
    		<li><a href="#">Printing as a guest</a></li>
    		<li><a href="#">Printing as a government employee</a></li>
    		<li><a href="#">Procuring and configuring printing services</a></li>
  		</ul> -->

    </div>
  </div>
</main>

{% endblock %}


