{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    	<h1 class="heading-xlarge">Government Technology Manual</h1>

    	<p><span class="bold-small">This service is for government employees and guests</span> to learn about using government technology, and for government employees to learn about setting up common technology solutions.</p>

    	<h2 class="heading-medium">Wi-Fi</h2>

    	<ul>
    		<li><a href="wifi/guest">Using Wi-Fi as a guest: user.wifi</a></li>
    		<li><a href="wifi/employee">Using Wi-Fi as a government employee</a></li>
    		<li><a href="#">Procuring and configuring Wi-Fi</a></li>
  		</ul>

    	<h2 class="heading-medium">Email</h2>

    	<ul>
    		<li><a href="#">Using email as a government employee</a></li>
    		<li><a href="#">Procuring and configuring email services</a></li>
  		</ul>

    	<h2 class="heading-medium">Printing</h2>

    	<ul>
    		<li><a href="#">Printing as a guest</a></li>
    		<li><a href="#">Printing as a government employee</a></li>
    		<li><a href="#">Procuring and configuring printing services</a></li>
  		</ul>

<!--       <h1 class="heading-xlarge">Wi-Fi in government buildings</h1>

      <p>There's a new shared Wi-Fi system for government buildings. This page will tell you how to use it, and if you're a government employee responsible for Wi-Fi in your department, how to install it.</p>

      <h2 class="heading-medium">Using Wi-Fi as a guest</h2>

      <h2 class="heading-medium">Using Wi-Fi as a government employee</h2>

      <h2 class="heading-medium">Installing user.wifi &amp; device.wifi</h2> -->

    </div>
  </div>
</main>

{% endblock %}


